/* Copyright IBM Corp. 2005,2011 */
body{
  color: #000000;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
}

/* This is the layout table which wraps an entire Display Page */
.displayPageTable{
  background-color: #666666;
}

/* This is the layout table which wraps an entire Display Page */
.dataEntryPageTable{
  background-color: #666666;
}

/* for table background-color/border- can be used with cellspacing="1" to provide inner table borders */
.gridTable{
  background-color: #DDDDDD;
}

.columnGroupHeadRow{
  background-color: #DDDDDD;
  font-size: 14px;
}

.ColumnGroupLabel{
  border-bottom: thin solid #808080;
}

.ColumnGroupLabelEmpty{
  border-bottom: thin solid #DDDDDD;
}

.spacerColumn{
  border-left: thin solid #808080;
}

.spacerColumnGroupHeader{
  border-bottom: thin solid #808080;
  border-left: thin solid #808080;
}

/* for table head row */
.tableHeadRow{
  background-color: #DDDDDD;
}

/* for table head cells*/
.tableHead,
.tableHeadAsc,
.tableHeadDesc{
  background-color: #DDDDDD;
  padding: 3px;
}

.tableHead{
  font-weight: normal;
}

.tableHeadAsc{
  font-weight: bold;
}
.tableHeadDesc{
  font-weight: lighter;
}

/* for text in table header cells */
.tableHeadText{
  font-size: 11px;
  color:#333333;
}

/* Links in table header cells, for sorting */
a.tableHeadSortLink:link, a.tableHeadSortLink:active, a.tableHeadSortLink:visited{
  font-size: 11px;
  font-weight: bold;
  color:#333333;
  text-decoration: none;
}

a.tableHeadSortLink:hover{
  text-decoration: underline;
}

a img{
  vertical-align: text-bottom
}
/* Odd repeated rows */
.tableRowOdd{
  background-color: #ffffff;
  color: #000000;
  font-size: 12px;
}

/* Even repeated rows */
.tableRowEven{
  background-color: #F3F3F3;
  color: #000000;
  font-size: 12px;
}

/* Field inputs or display elements */
.outputData{
  color: #000000;
  font-size:11px;
}

/* Links in data (inside tables) */
a.outputData:link, a.outputData:active, a.outputData:visited{
  color: #000000;
  font-size:11px;
  text-decoration: underline;
}

a.outputData:hover{
  color: #0000CC;
  font-size:11px;
  text-decoration: underline;
}

.outputDataRight{
  color: #000000;
  font-size:11px;
  text-align: right;
}

/* Labels between sections of inputs or fields */
.sectionLabel{
  color: #333333;
  font-size:11px;
  font-weight: bold;
  line-height: 15px;
}

/* Table cells containing the sectionLabels */
.sectionLabelCell{
  background-color: #DDDDDD;
  text-indent: 3px;
}

/* Text prompts for field inputs or fields */
.label{
  color:#000000;
  font-size:11px;
  text-indent: 3px;
}

/* Table cells containing labels */
.labelCell{
  background-color: #F3F3F3;
  line-height: 19px;
}

/* Cell containing any field input or display elements */
.outputDataCell{
  background-color: #FFFFFF;
  line-height: 21px;
  text-indent: 2px;
}

/* Indicating required fields, as with an asterisk */
.requiredPrompt{
  font-size: 12px;
  font-weight: bold;
  color: #FF0000;
  padding: 1px;
}

/* Hightlight error message text */
.errorMessage{
  font-size: 11px;
  color: #FF0000;
}      

.vf_smallButton{
  margin-top: 0px !important;
  padding-top: 0px !important;
  padding-left: 2px;
  padding-right: 2px;
  text-align: center;
  font-size:0.75em !important;
  font-weight: bold;
  height:16px;
}

.dsui_full_width table{
  width: 100%;
}