<meta data-template-id="DojoMobileSwapViewList" data-template-bundle-name="com.bowstreet.builders.webapp.client.messages" data-template-name="Dojo Mobile Swap View List" data-template-name-id="DataLayoutDojoMobileSwapViewList" data-template-description-id="DataLayoutDojoMobileSwapViewListDescription" "data-field-styles="" data-style-picker-file-names="/factory/data_layout_templates/dojo_mobile_list_styles.css" data-stylesheets="/factory/data_layout_templates/dojo_mobile_list_styles.css,/factory/data_layout_templates/blank.css" data-template-link-mapping-type="HTMLEvent" data-dojo-requires="dojox.mobile.SwapView,dojox.mobile.PageIndicator"/>
<div dojoType="dojox.mobile.View">
  <div dojoType="dojox.mobile.SwapView" data-repeat="default" id="" >
    <div data-target="swapViewElement1" />
    <div data-target="swapViewElement2" />
    <div data-target="swapViewElement3" />
    <div data-target="swapViewElement4" />
    <div data-target="swapViewElement5" />
    <div data-target="swapViewElement6" />
    <div data-target="swapViewElement7" />
    <div data-target="swapViewElement8" />
  </div>
  <div dojoType="dojox.mobile.PageIndicator" fixed="bottom" id="<%= com.bowstreet.webapp.IDGenerator.getNextID(webAppAccess,"SwapView")%>" refId="<%= com.bowstreet.webapp.IDGenerator.getCurrentID(webAppAccess,"SwapView")%>""></div>
</div>
