@IMPORT url("base_template_styles.css");  

body {
  /* set left/right margin to 0 to go to edge */
   margin-left: 0px;
   margin-right: 0px;
   width: 100%;
}

div.vf_view_container {
    width:100%;
    padding: 0px;
}

.vf_view_list {
   width:100%;
}
.wpfThumbnailMultiLineListE2E a.wpfSelectableRow {
    color: #222222;
    text-decoration: none;
}


.wpfThumbnailMultiLineListE2E {
    min-width: 305px;
    width:100%;
 }
    
.wpfThumbnailMultiLineListE2E .wpfLeft {
    float: left;
    padding: 2px;
}

.wpfThumbnailMultiLineListE2E .wpfCenterContainer {
    float: left;
    width: 60%;
}   

.wpfThumbnailMultiLineListE2E .wpfCenter {
    padding-left: 3px;
    padding-right: 3px;
    text-overflow: ellipsis; 
    white-space: nowrap;
    overflow: hidden; 
}

.wpfThumbnailMultiLineListE2E .wpfRight {
    float: right;
    margin-right: 20px;
    line-height: 58px;    
    white-space: nowrap;
    overflow: hidden;
    width: 15%;
}

.wpfThumbnailMultiLineListE2E .wpfListItem img
{
    -webkit-border-top-left-radius: 8px;
    -webkit-border-top-right-radius: 8px;
    -webkit-border-bottom-left-radius: 8px;
    -webkit-border-bottom-right-radius: 8px;
}

/** style for list items **/
.wpfThumbnailMultiLineListE2E .wpfListItem
{
    background-image: url("right_arrow.gif");
    background-repeat: no-repeat;
    background-position: right;
    background-color: #F8F8F8;  
    text-decoration: none;
    color: #222222;
    font-size: 15px;
    text-decoration: none;
    padding: 2px 0px 2px 0px;
    height: 56px; 
    border-bottom: 1px solid #AAAAAA;
    margin-left: 0px;
    margin-right: 0px;
}



